name: Prd Deploy

on:
  pull_request:
    types:
      - closed
    branches:
      - master
    paths: 
      - 'src/prd/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prd
    steps:
      - uses: actions/checkout@v2

      - name: Run a one-line script
        run: echo development

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
