name: Prd Test

on:
  pull_request:
    paths:
      - 'src/prd/**'

jobs:
  test:
    runs-on: ubuntu-latest
    environment: prd
    
    steps:
      - uses: actions/checkout@v2

      - name: Run a one-line script
        run: echo {{ secrets.TEST_SECRETS }}

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
      - name: Run sleep script
        run: sleep 30
