name: Dev Test

on:
  push:
    paths:
      - 'src/dev/**'
  pull_request:
    paths:
      - 'src/dev/**'

jobs:
  test:
    runs-on: ubuntu-latest
    environment: dev
    
    steps:
      - uses: actions/checkout@v2

      - name: Run a one-line script
        run: echo development 

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.

      - name: Run sleep script
        run: sleep 30
